<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endwith %}
    <p>{{username}}，您好！</p>
    {% if files %}
        <p>您当前上传了以下文件</p>
        <ui>
        {% for file in files %}
            <li>
                {{file.filename}}(已加密)
                <a href="/file/download?filename={{file.filename}}&type=encrypted">下载</a>
                <a href="/file/download?filename={{file.filename}}&type=plaintext">解密并下载</a>
                <a href="/file/download?filename={{file.filename}}&type=signature">下载签名文件</a>
                <a href="/file/remove?filename={{file.filename}}">删除</a>
            </li>
        {% endfor %}
        </ui>
    {% else %}
        <p>您当前没有上传任何文件</p>
    {% endif %}
    <a href="/file/upload">上传</a>
    <a href="/logout">退出</a>
</body>
</html>
